############################
# Custom: NotJeopardy Images
############################

# Ignore all new images, keep only the 3 originals
wwwroot/Images/*
!wwwroot/Images/BlackButton.jpg
!wwwroot/Images/Blue.png
!wwwroot/Images/NotJeopardy.png


############################
# Visual Studio (Modern)
############################

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# VS cache
.vs/


############################
# Build Artifacts
############################

bin/
obj/


############################
# NuGet
############################

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets


############################
# Publish output
############################

publish/
*.publishproj
*.pubxml


############################
# Logs & Temp
############################

*.log
*.tmp
*.cache
~$*
*~


############################
# Blazor (Optional Static Outputs)
############################

# If Blazor or tools generate maps/compressed files
wwwroot/**/*.map
wwwroot/**/*.gz
wwwroot/**/*.br